body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;  
}
ul {
    font-family: helvetica;
}
#msg{
    font-family: serif;
}
.list {
    list-style-type: square;
}

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

.btn{
    color: #481919;
    background-color: aqua;
    border-radius: 9px;
    cursor: pointer;
    border: none;
}